<!-- Config file for the game -->

<config>
  <app>
    <title>Walk through the graveyard</title>
    <organization>UPC</organization>
  </app>

  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <level1_name name="Level1.tmx"/>
    <level2_name name="Level2.tmx"/>
  </scene>

  <player>
    <position x="0" y="0"/>
    <file_path>animations/player.tmx</file_path>
    <textures>textures/spritesheet.png</textures>
    <Collider x="10" y="8" width ="75" height="121"/>
    <dynamics godmode="6.0f"/>
    <margin collisionmargin="0"/>

  </player>


</config>